@import "./angular/material/project";


.btn-github:hover {
    color: #fff
}

.btn-facebook:hover {
    color: #fff
}

.btn-google:hover {
    color: #fff
}

.btn.signin{
  background-color: $lajavelle;
  color:white;
}
