<div class="register-box">
  <div class="register-logo">
    <a ui-sref="login"><b>APP and GO</b>Admin</a>
  </div>
  <div class="register-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Créer un nouveau compte</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <register-form></register-form>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a ui-sref="login">J'ai déjà un compte</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        En vous inscrivant, vous acceptez nos <a href="#">Conditions générales</a> et vous avez pris connaissances de notre <a href="#">Privacy Policy</a>.
      </div>
    </div>
  </div>
</div>
